/* &display=swap */
@import "null.css";

@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap");

/* ================================================================ */
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

[class*="__container"] {
	margin: 0px auto;
	max-width: 1050px;
	padding: 0px 15px;
	}

body {
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 400;
	background: #F5F5F5;
}

.header {
	width: 100%;
	padding: 26px 0px 0px 0px;
	z-index: 999;
}

.header__top:not(:last-child) {
margin: 0px 0px 28px 0px;
}

.top-header {
	display: flex;
	color: #fff;
	flex-wrap: wrap;
}

.top-header__logo-box {
	flex: 0 0 174px;
	width: 174px;
}

.top-header__logo {
	max-height: 41px;
}

.top-header__content {
	display: flex;
	flex: 1 1 auto;
	justify-content: flex-end;
	flex-wrap: wrap;
	align-items: flex-start;
	column-gap: 30px;
	font-weight: 700;
	font-size: 12px;
	line-height: 1.83;
	letter-spacing: 0.15px;
}

.top-header__boarding:not(:last-child) {
	margin: 0px 30px 0px 0px;
}

.boarding-top-header__link {
	display: inline-block;
	background: url('../img/header/time.svg') 0 0 / 24px no-repeat;
	padding: 0px 0px 0px 34px;
}

.top-header__call:not(:last-child) {
	margin: 0px 30px 0px 0px;
}

.call-top-header__link {
	display: inline-block;
	padding: 0px 0px 0px 34px;
	background: url('../img/header/phone.svg') 0 0 / 24px no-repeat;
}

.call-top-header__link:hover {
	text-decoration: underline;
}

.top-header__button {
	display: inline-flex;
	min-height: 40px;
	font-weight: 700;
	font-size: 12px;
	line-height: 2;
	letter-spacing: 0.15px;
	background: #F2726F;
	color: #fff;
	border-radius: 8px;
	text-transform: uppercase;
	align-self: center;
	align-items: center;
	text-align: center;
	padding: 0px 35px;
}

.top-header__button:hover {
	background: #fff;
	color: #F2726F;
	border: 1px solid #F2726F;
	padding: 0px 34px;
}

.header__bottom {
	background: #fff;
	border-radius: 8px;
	padding: 18px 50px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	row-gap: 10px;
}

.menu {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.57;
}

.menu__items {
	display: flex;
	flex-wrap: wrap;
}

.menu__item:not(:last-child) {
	margin: 0px 37px 0px 0px;
}

.menu__link:hover {
	text-decoration: underline;
}

.menu__select {
	font-family: 'Roboto';
	font-weight: 700;
	font-size: 14px;
	line-height: 1.57;
}

.menu__select:hover {
	text-decoration: underline;
	cursor: pointer;
}

.bottom-header__actions {
	display: flex;
	column-gap: 22px;
}

.bottom-header__image {
	max-width: 24px;
	max-height: 24px;
}

.bottom-header__cart {
	position: relative;
}

.bottom-header__span {
	position: absolute;
	background-color: #F2726F;
	border-radius: 50%;
	width: 16px;
	height: 16px;
	top: -8px;
	left: 15px;
	font-size: 10px;
	color: #fff;
	font-weight: 500;
	text-align: center;
	line-height: 1.5;
	letter-spacing: 0.15px;
}

.header-titles__title {
	font-weight: 700;
	font-size: 12px;
	line-height: 2;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: #5D62B5;
	padding: 0px 0px 0px 33px;
}

.header-titles *:not(:last-child) {
	margin: 0px 0px 33px 0px;
}

.header-titles__subtitle {
	font-weight: 900;
	font-size: 36px;
	line-height: 1.16;
	color: #000;
}

.header-titles__title_purple {
	background: url('../img/header_titles/purple_mark.svg') 0 -1px no-repeat;
	color: #5D62B5;
}

.header-titles__title_white {
	background: url('../img/header_titles/white_mark.svg') 0 -1px no-repeat;
	color: #fff;
}

.header-titles__subtitle_white {
	color: #fff;
}

.first-page {
	padding: 280px 0px 312px 0px;
	background: url('../img/first_page/bg.jpg') 0 0 /cover no-repeat;
	color: #fff;
	margin: -181px 0px 0px 0px;
	min-height: 800px;
}

.first-page__title {
	max-width: 583px;
	font-weight: 900;
	font-size: 56px;
}

.first-page__title:not(:last-child) {
margin: 0px 0px 48px 0px;
}

.first-page__button {
	display: inline-flex;
	min-height: 48px;
	font-weight: 700;
	font-size: 12px;
	line-height: 2;
	letter-spacing: 0.15px;
	background: #F2726F;
	color: #fff;
	border-radius: 8px;
	text-transform: uppercase;
	align-self: center;
	align-items: center;
	text-align: center;
	padding: 0px 35px;
}

.first-page__button:hover {
	background: #fff;
	color: #F2726F;
	border: 1px solid #F2726F;
	padding: 0px 34px;
}

.who-we-are {
	margin: -80px 0px 170px 0px;
}

.who-we-are__header {
	margin: 0px 0px 36px 0px;
	max-width: 583px;
}

.who-we-are__bg {
	position: relative;
	border-radius: 40px;
	min-height: 700px;
	background-color: #5d62b5;
	padding: 100px 87px 0px 87px;
}

.who-we-are__bg::before {
	content: "";
	position: absolute;
	background: url("../img/who_we_are/circles.svg") 0 0 no-repeat;
	width: 201px;
	height: 317px;
	top: -109px;
	right: -75px;
	z-index: 1;
}

.who-we-are__bg::after {
	content: "";
	position: absolute;
	background: url("../img/who_we_are/blob_purple.png") 0 0 no-repeat;
	width: 588px;
	height: 481px;
	bottom: -37px;
	left: -11px;
	z-index: 0;
}

.who-we-are__text {
	position: relative;
	line-height: 1.5;
	letter-spacing: 0.15px;
	color: #F5F5F5;
	margin: 0px 0px 54px 0px;
	z-index: 1;
}

.who-we-are__image {
	position: relative;
	margin: 0px auto;
	z-index: 1;
}

.who-we-are__icon {
	position: relative;
	border-radius: 40px;
	margin: 0px 0px -120px 0px;
	box-shadow: 0px 16px 24px 0px rgb(38 38 38 / 20%), 0px 8px 16px 0px rgb(38 38 38 / 24%);
	width: 100%;
}

.our-promise {
	margin: 0px 0px 122px 0px;
}

.our-promise__header {
	padding: 50px 0px 0px 0px;
	margin: 0px 0px 68px 0px;
}

.item-title {
	font-weight: 900;
	font-size: 19px;
	line-height: 1.36;
	color: #F2726F;
}

.item-text {
	letter-spacing: 0.15px;
	color: #4B4B4B;
	line-height: 1.5;
}

.our-promise__content-box {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -12px;
	row-gap: 24px;
}

.our-promise__item {
	padding: 0px 12px;
	flex: 1 1 33.333%;
}

.item-our-promise {
	align-items: flex-start;
	display: flex;
	column-gap: 23px;
}

.item-our-promise__icon {
	flex: 0 0 63px;
	width: 63px;
}

.item-our-promise__title:not(:last-child) {
	margin: 0px 0px 20px 0px;
}

.appointment {
	position: relative;
	background: #29C3BE;
	color: #fff;
	margin: 0px 0px 110px 0px;
}

.appointment::before {
	content: "";
	position: absolute;
	background: url('../img/appointment/blob.png') 0 0 no-repeat;
	width: 379px;
	height: 248px;
	top: 0px;
	left: 0px;
	z-index: 1;
}

.appointment::after {
	content: "";
	position: absolute;
	background: url('../img/appointment/circles.png') 0 0 no-repeat;
	width: 205px;
	height: 317px;
	top: 117px;
	left: 12px;
	z-index: 0;
}

.appointment__body {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	margin: 0px -36px;
}

.appointment__body::after {
	content: "";
	position: absolute;
	background: url("../img/appointment/line.png") 0 0 no-repeat;
	width: 595px;
	height: 387px;
	top: 0px;
	right: 505px;
	transform: translate(88%, 0px);
}

.appointment__image-box {
	padding: 75px 36px 0px 36px;
	flex: 1 1 50%;
	margin: 0px 0px -20px -254px;
	max-width: 744px;
	z-index: 2;
}

.appointment__image {
	width: 100%;
	
}

.appointment__content {
	flex: 0 0 50%;
	padding: 112px 36px 169px 93px;
	z-index: 2;
}

.appointment__text {
	font-weight: 900;
	font-size: 36px;
	line-height: 1.16;
	max-width: 411px;
	position: relative;
}

.appointment__text::before {
	content: "";
	position: absolute;
	background: url("../img/appointment/ball.png") 0 0 no-repeat;
	width: 136px;
	height: 136px;
	top: 1px;
	right: -52px;
	transform: translate(88%, 0px);
	z-index: 1;
}

.appointment__text:not(:last-child){
	margin: 0px 0px 42px 0px;
}

.appointment__button {
	display: inline-flex;
	min-height: 48px;
	font-weight: 700;
	font-size: 12px;
	line-height: 2;
	letter-spacing: 0.15px;
	background: #F2726F;
	color: #fff;
	border-radius: 8px;
	text-transform: uppercase;
	align-self: center;
	align-items: center;
	text-align: center;
	padding: 0px 34px;
}

.appointment__button:hover {
	background: #fff;
	color: #F2726F;
	border: 1px solid #F2726F;
}

.services {
	position: relative;
	margin: 0px 0px 150px 0px;
}

.services::after {
	content: "";
	background: url('../img/services/blob.png') 0 0 no-repeat;
	width: 623px;
	height: 1437px;
	position: absolute;
	bottom: 245px;
	right: 0px;
	z-index: -1;
}

.services__container {
	display: flex;
	flex-direction: column;
}

.services__header {
	margin: 0px 0px 74px 0px;
}

.services__items {
	display: flex;
	row-gap: 24px;
	margin: 0px -12px;
	flex-wrap: wrap;
}

.services__items:not(:last-child){
	margin: 0px 0px 66px 0px;
}

.services__item {
	flex: 1 1 33.333%;
	padding: 0px 12px;
	min-width: 300px;
}

.item-services {
	background: #fff;
	border-radius: 20px;
	padding: 50px 40px;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	height: 100%;
}

.item-services:hover{
	box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.24), 0px 16px 24px rgba(38, 38, 38, 0.2);
}

.item-services__icon {
	flex: 0 0 63px;
	width: 63px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.item-services__icon img {
	max-width: 100%;
	max-height: 63px;
}

.item-services__icon:not(:last-child) {
	margin: 0px 0px 33px 0px;
}

.item-services__title:not(:last-child) {
	margin: 0px 0px 20px 0px;
}

.services__button {
	display: inline-flex;
	min-height: 48px;
	font-weight: 700;
	font-size: 12px;
	line-height: 2;
	letter-spacing: 0.15px;
	text-transform: uppercase;
	align-self: center;
	align-items: center;
	text-align:center;
	background: #F2726F;
	color: #fff;
	border-radius: 8px;
	padding: 0px 25px;
}

.services__button:hover {
	background: #fff;
	color: #F2726F;
	border: 1px solid #F2726F;
}

.our-impact {
	position: relative;
	min-height: 608px;
	color: #fff;
	background: #29C3BE;
	position: relative;
}

.our-impact__container {
	position: relative;
}

.our-impact::before {
	content: "";
	position: absolute;
	background: url("../img/our_impact/blob.png") 0 0 no-repeat;
	width: 695px;
	height: 308px;
	top: 0%;
	right: 50%;
	transform: translate(88%, 0px);
}

.our-impact__body {
	display: flex;
	margin: 0px -15px;
}

.our-impact__body:not(:last-child){
	margin-bottom: 80px
}

.our-impact__content {
	padding: 111px 15px 0px 15px;
	flex: 0 1 50%;
}

.our-impact__header {
	max-width: 420px;
}

.our-impact__photo {
	margin: -62px 0px 0px 0px;
	flex: 0 1 50%;
	padding: 0px 15px;	
}

.our-impact__image {
	border-radius: 40px;
	max-width: 100%;
}

.our-impact__items {
	display: flex;
	margin: 0px -12px;
	flex-direction: row;
	flex-wrap: wrap;
	row-gap: 24px;
	align-items: flex-start;
}

.our-impact__item{
	padding: 0px 12px;
	display: flex;
	flex: 0 1 25%;
	column-gap: 11px;
	align-items: flex-start;
}

.our-impact__box {
	display: flex;
	flex-direction: column;
}

.our-impact__icon {
	flex: 0 0 76px;
	width: 76px;
}

.our-impact__count {
	font-weight: 900;
	font-size: 36px;
	line-height: 1.16;
	align-items: flex-start;
}

.our-impact__count:not(:last-child){
	margin: 0px 0px 3px 0px;
}

.our-impact__text{
	font-weight: 700;
	line-height: 1.5;
	letter-spacing: 0.15px;
	color: #5D62B5;
}


@media (max-width: 1440px) {
	.first-page {
		background: url('../img/first_page/bg.jpg') center /cover no-repeat;
	}
}

@media (max-width: 1233px) {
	.appointment__body::after {
		display: none;
	}

	.appointment__text::before {
		display: none;
	}
}

@media (max-width: 1040px) {
	.appointment__text {
		font-size: 32px;
	}
}

@media (max-width: 920px) {
	.top-header__button {
		display: none;
	}

	.first-page {
		min-height: 600px;
		padding: 280px 0px 220px 0px;
	}

	.who-we-are {
		margin: -80px 0px 85px 0px;
	}

	.who-we-are__bg {
		padding: 80px 77px 0px 77px;
	}

	.our-promise {
		margin: 0px 0px 60px 0px;
	}

	.our-promise__content-box {
		flex-direction: column;
	}

	.item-our-promise__title:not(:last-child) {
		margin: 0px 0px 10px 0px;
	}

	.appointment {
		margin: 0px 0px 40px 0px;
	}

	.appointment__image-box {
		display: none;
	}

	.appointment__content {
		flex: 0 0 100%;
		padding: 111px 36px 169px 458px;
		z-index: 2;
	}

	.appointment__text {
		font-size: 28px;
	}

	.services {
	margin: 0px 0px 83px 0px;
	}

	.services__header {
		margin: 0px 0px 48px 0px;
	}

	.our-impact {
		min-height: 488px;
	}
}

@media (max-width: 840px) {
	.our-impact {
		padding: 0px 0px 40px 0px;
	}

	.our-impact__item {
		flex: 0 1 50%;
	}
}

@media (max-width: 820px) {
	.who-we-are__bg::after {
		display: none;
	}

	.who-we-are {
		margin: -80px 0px 20px 0px;
	}

	.who-we-are__header {
		max-width: 564px;
	}

	.who-we-are__bg {
		padding: 70px 72px 0px 72px;
	}

	.who-we-are__icon {
		margin: 0px;
	}
}

@media (max-width: 777px) {
	.header-titles__subtitle {
		font-size: 28px;
	}

	.first-page {
		margin: -212px 0px 0px 0px;
	}

	.who-we-are__bg::before {
		display: none;
	}

	.who-we-are__header {
		max-width: 544px;
	}

	.appointment__content {
		padding: 111px 36px 169px 423px;
	}

	.appointment__text {
		font-size: 22px;
	}
}

@media (max-width: 720px) {
	.top-header__content {
		column-gap: 10px;
	}
	
	.top-header__boarding:not(:last-child) {
		margin: 0px;
	}

	.top-header__call:not(:last-child) {
		margin: 0px;
	}

	.header__bottom {
		display: none;
		/* пока не знаю как делать бургер */
	}

	.who-we-are {
		margin: -80px 0px 45px 0px;
	}
	
	.who-we-are__header {
		z-index: 3;
	}

	.who-we-are__bg {
		padding: 60px 67px 0px 67px;
	}
	
	.who-we-are__bg::after {
		display: none;
	}

	.who-we-are__icon {
		margin: 0px;
	}

	.our-promise__header {
		padding: 0px;
		margin: 0px 0px 48px 0px;
	}

	.appointment::before {
		display: none;
	}

	.appointment::after {
		display: none;
	}

	.appointment__content {
		padding: 69px 0px 88px 0px;
		max-width: 546px;
		align-items: center;
		display: flex;
		flex-direction: column;
		text-align: center;
		margin: 0 auto;
	}

	.our-impact__body {
		margin: 0px;
	}

	.our-impact__content {
		padding: 40px 0px 0px 0px;
		flex: 0 1 100%;
	}

	.our-impact__photo {
		display: none;
	}
}

@media (max-width: 620px) {
	.first-page__title {
		max-width: 400px;
		font-size: 39px;
	}

	.top-header__boarding {
		display: none;
	}

	.who-we-are__bg {
		padding: 50px 40px 0px 40px;
	}

	.appointment__content {
		padding: 49px 40px;
	}

	.services {
		margin: 0px 0px 40px 0px;
	}

	.services__items:not(:last-child) {
		margin: 0px 0px 46px 0px;
	}

	.item-services {
		padding: 40px 30px;
	}

	.our-impact__body:not(:last-child) {
		margin-bottom: 60px;
	}
}

@media (max-width: 440px) {
	.header-titles *:not(:last-child) {
		margin: 0px 0px 10px 0px;
	}

	.our-promise__header {
		margin: 0px 0px 26px 0px;
	}

	.our-promise__content-box {
		row-gap: 11px;
	}

	.our-promise {
		margin: 0px 0px 30px 0px;
	}

	.first-page__title {
		max-width: 300px;
		font-size: 28px;
	}

	.first-page__title:not(:last-child) {
		margin: 0px 0px 32px 0px;
	}

	.appointment__content {
		padding: 39px 30px;
	}

	.our-impact__item {
		flex: 0 1 100%;
	}

	.services__header {
		margin: 0px 0px 28px 0px;
	}

	.services__items:not(:last-child) {
		margin: 0px 0px 36px 0px;
	}

	.item-services {
		padding: 30px 20px;
	}

	.our-impact__body:not(:last-child) {
		margin-bottom: 40px;
	}
}

@media (max-width: 350px) {
	.top-header__content {
		align-items: center;
	}

	.call-top-header__text {
		display: none;
	}

	.first-page {
		padding: 280px 0px 185px 0px;
	}
}
